@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Instrument+Serif:ital@0;1&family=Geist:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'PixelFont';
  src: url('../fonts/PixelFont.otf') format('opentype');
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
}
